<p id="notice" class="text-center"><%= notice %></p>
<div class="jumbotron text-center">
  <h1>Life Hacks</h1>
</div>

<div class="container">
    <div class="row">
    <% @hacks.each do |hack| %>
        <div class="col-md-3">
          <h4><%= hack.name %></h4>
          <%= image_tag hack.image.url, :class => 'img-responsive img-size' %>
          <%= link_to 'View Life Hack', hack_path(hack), :class => 'btn btn-primary btn-xs' %>
        </div>
    <% end %>
    </div>
</div>
