
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background-color: #ffffff;
  font-family: 'Noticia Text', serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
  color: #160408;
  font-size: 20px;
}

ul {
  list-style: none;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  margin-bottom: 5px;
}

#file-field {
  display: inline-block;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#show-go-back-btn {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
}

#show-wrap-main {
  padding: 0;
}

#show-name {
  margin: 5px;
}

#show-container {
  height: 300px;
  width: 800px;
}

#hack-info-desc {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#comment-btn {
  margin-top: -20px;
  margin-bottom: 5px;
}

#comment-body {
  height: 50px;
}

.show-img {
  height: 500px;
  width: 500px;
  margin-top: 10px;
  border: 10px solid rgba(191,191,191,.5);

}

.comment-input {
  margin: auto;
  width: 300px;
  margin-bottom: 5px;
  color: #160408;
}

.comment-body {
  width: 500px;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
}

.no-click {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

.show-title {
  width: 100%;
}

.log-in {
  margin-top: 5px;
  font-weight: bolder;
}

.main-nav {
  background-color: rgba(13,146,207,.9);
}

.main-wrap-index {
  margin-top: 25px;
}
.main-wrap-show {
  margin-top: 25px;
}

.nav-color {
  color: white;
}

.title-wrap {
  background-color: rgba(41,34,20, .8);
  margin-bottom: 15px;
  width: 400px;
  box-shadow: 10px 10px 5px #080704;
}

.comment-wrap {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0;
}

.img-size {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.thumb-wrapper {
  background-color: rgba(191,191,191,.5);
  margin: 17px;
  width: 200px;
  padding-bottom: 3px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .thumb-wrapper {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  #brand-name {
    display: none;
  }

  .img-size {
    height: 300px;
    width: 300px;
  }

  .hack-name-wrap {
    font-size: 50px;
  }

  .main-search {
    width: 78%;
    display: inline-block;
  }

  .main-search-submit {
    display: inline;
  }

  #show-container {
    width: 100%;
  }

  .comments-h3 {
    width: 100%;
    text-align: center;
  }

  .comment-wrap {
    width: 100%;
  }

  .comment-body {
    width: 100%;
  }
}

.hack-name-wrap {
  margin-bottom: 10px;
  font-weight: bolder;
}

.more-info {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.index-test {
  background-color: gray;
  margin-bottom: 10px;
}

.hack-info-page {
  height: 400px;
  width: 400px;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.sign-up-form {
  margin-top: 50px;
}

.new-user-h {
  margin-bottom: 50px;
}

.new-form-bold {
  font-size: 15px;
  font-weight: bolder;
}

.btn-s-container {
  text-align: center;
}

a:hover {
  color: maroon;
}
