
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  // background-color: #343734;
  background-image: url('wood.jpg');
  // background-size: cover;
  // background-repeat: no-repeat;
  font-family: 'Lora', serif;
  color: #DCA31B;
}

a {
  color: #BDBA93;
  font-size: 20px;
}

#show-container {
  height: 300px;
  width: 800px;
}

#hack-info-desc {
  border: 2px solid black;
}

.no-click {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

.main-nav {
  background-color: rgba(43, 44, 46, .7);
}

.show-wrapper {
  background-color: grey;
  border: 2px solid black;
}

.main-wrap {
  background-color: rgba(43, 44, 46, .7);
}

.nav-color {
  color: white;
}

.title-wrap {
  background-color: rgba(41,34,20, .8);
  margin-bottom: 15px;
  width: 400px;
  box-shadow: 10px 10px 5px #080704;
}

.img-size {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.thumb-wrapper {
  background-color: rgb(62, 65, 77);
  margin: 17px;
  width: 200px;
  box-shadow: 10px 10px 5px #080704;

}

.more-info {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.index-test {
  background-color: gray;
  margin-bottom: 10px;
}

.hack-info-page {
  height: 400px;
  width: 400px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.t-wrap {
  background-color: rgba(43, 44, 46, .7);
}




