
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  // background-color: #343734;
  background-image: url('ab.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lora', serif;
  color: #DCA31B;
}

a {
  color: #BDBA93;
  font-size: 20px;
}

ul {
  list-style: none;
}

#show-wrap-main {
  padding: 0;
}

#show-name {
  margin: 5px;
}

#show-container {
  height: 300px;
  width: 800px;
}

#hack-info-desc {
  width: 100%;
  background-color: rgb(43, 44, 46);
  padding: 5px;
}

#comment-btn {
  margin-top: -20px;
  margin-bottom: 5px;
}

.show-img {
  height: 500px;
  width: 500px;
  margin-top: 10px;
  box-shadow: 10px 10px 5px #080704;
  border: 2px solid black;
}

.comment-input {
  margin: 5px 0;
  background-color: rgba(41,34,20, .8);
  color: #BDBA93;
}

.comment-body {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.no-click {
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}

.show-title {
  width: 100%;
  background-color: rgb(62, 65, 77);
}

.main-nav {
  background-color: rgba(43, 44, 46, .7);
}

.main-wrap {
  background-color: rgba(43, 44, 46, .8);
  margin-top: 25px;
}

.nav-color {
  color: white;
}

.title-wrap {
  background-color: rgba(41,34,20, .8);
  margin-bottom: 15px;
  width: 400px;
  box-shadow: 10px 10px 5px #080704;
}

.comment-wrap {
  background-color: rgba(41,34,20, .8);
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 5px #080704;
}

.img-size {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.thumb-wrapper {
  background-color: rgba(62, 65, 77, .5);
  margin: 17px;
  width: 200px;
  box-shadow: 10px 10px 5px #080704;

}

.more-info {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.index-test {
  background-color: gray;
  margin-bottom: 10px;
}

.hack-info-page {
  height: 400px;
  width: 400px;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.t-wrap {
  background-color: rgba(43, 44, 46, .7);
}




